<% include header %>
  	<main class="admin">
  		<% include admin.nav.ejs %>
  		<form action="" method="post">
  			<input type="text" name="username" />
  			<input type="password" name="password" />
  			<input type="submit" value="submit" />
  		</form>
  	</main>
<% include footer %>