<% include header %>
  	<main class="admin">
  		<% include admin.nav.ejs %>
  		<form action="" method="post">
  			<input type="text" class="control" name="username" placeHolder="Username"/>
  			</p>
  			<input type="password" class="control" name="password" placeHolder="Password"/>
  			</p>
  			<input type="submit" class="control button button-normal" value="submit" />
  		</form>
  	</main>
<% include footer %>