<% include cv.header.ejs %>
  	<main id="main">
  		<div class="container-fluid backpack">
  			~ backpack ~
  			<div class="collapse">
  				<div class="title">
  					PRODUCTIVITY
  				</div>
  				<div class="backpack-container">
  					<div class="item">
  						<span class="comment">Macbook Pro Retina</span>
  					</div>
  					<div class="item">
  						<span class="comment">Canon 7D</span>
  					</div>
  					<div class="item">
  						<span class="comment">Sigma 50 1.4</span>
  					</div>
  				</div>
  			</div>
  			<div class="collapse">
  				<div class="title">
  					L & A
  				</div>
  				<div class="backpack-container">
  					<div class="item">
  						<span class="comment">Lamy ST</span>
  					</div>
  					<div class="item">
  						<span class="comment">Lamy CP1</span>
  					</div>
  					<div class="item">
  						<span class="comment">Lamy Joy</span>
  					</div>
  					<div class="item">
  						<span class="comment">Lamy Safari</span>
  					</div>
  					<div class="item">
  						<span class="comment">OHTO P1500M</span>
  					</div>
  				</div>
  			</div>
  		</div>
  	</main>
<% include cv.footer.ejs %>