<% include cv.header.ejs %>
  	<main id="main">
  		<div class="container find">
  			<a class="item" href="http://weibo.com/u/2685726781">
  				<div class="logo">
  					<i class="fa fa-weibo"></i>
  				</div>
  				<div class="comment">
  					WEIBO
  				</div>
  			</a>
  			<a class="item" href="https://github.com/rijn">
  				<div class="logo">
  					<i class="fa fa-github"></i>
  				</div>
  				<div class="comment">
  					GITHUB
  				</div>
  			</a>
  			<a class="item" href="https://www.facebook.com/rijn.bian">
  				<div class="logo">
  					<i class="fa fa-facebook"></i>
  				</div>
  				<div class="comment">
  					FACKBOOK
  				</div>
  			</a>
  			<a class="item" href="https://github.com/rijn">
  				<div class="logo">
  					<i class="fa fa-wechat"></i>
  				</div>
  				<div class="comment">
  					WECHAT Neoix_Rijn
  				</div>
  			</a>
  			<a class="item" href="mailto:bxbian951122@gmail.com">
  				<div class="logo">
  					<i class="fa fa-envelope"></i>
  				</div>
  				<div class="comment">
  					EMAIL
  				</div>
  			</a>
  		</div>
  	</main>
<% include cv.footer.ejs %>