<!DOCTYPE html>
<html>
  <head>
    <title>Rijn</title>
    <link rel='stylesheet' href='/stylesheets/cv.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  </head>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?b85e971c3b90f577211c4c3f2743c876";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
  <body>
  	<header class="page-header">
  		<nav class="navbar">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
<%
nav.forEach(
  function(data) {
%>
            <a class="navbar-item <%=data.active?'active':''%>" href="<%=data.link%>">
              <%= data.title %>
            </a>
<%
})
%>
          </ul>
        </div>
  		</nav>
  	</header>