<% include cv.header.ejs %>
  	<main id="main">
  		<div class="container-fluid" style="position:absolute;text-align:center;top:0;bottom:0;left:0;right:0;background-size:cover;min-width: 600px;">
  			<div style="position:absolute;width:100%;top:50%;margin:-50px 0 0 0;color:#5c5d5f">
  				<p>I'm a frontend developer at Nanjing, China.</p>
  				<div style="width:100%;max-width:400px;font-size:0.6em;line-height:1.5em;margin:auto;color:#9c9d9f">
  					We were born to make manifest the glory of God that is within us. And as we let our own light shine, we unconsciously give other people permission to do the same.
  					<br/><br/>
  					Nelson Mandela, 1994
  				</div>
  			</div>
  		</div>
  	</main>
<% include cv.footer.ejs %>