<% include cv.header.ejs %>
	<main id="main">
		<div class="container">
			<h6>Education</h6>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Nanjing University of Posts and Telecommunications</span><span class="t2">Communication Engineering</span>
						<div class="time">
							Sep 1, 2014 - Jun 1, 2018
						</div>
					</div>
					<small class="list">
						<ul>
							<li>Top 5%</li>
						</ul>
					</small>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Jingling High School</span><span class="t2"></span>
						<div class="time">
							Sep 1, 2011 - Jun 1, 2014
						</div>
					</div>
				</div>
			</div>
			<div class="gap"></div>
			<h6>Research Experiences</h6>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Rubik's Cude Solver &middot; URANIA</span><span class="t2"></span>
						<a href="https://github.com/rijn/URANIA" class="a-more">Link</a>
						<div class="time">
							Oct 1, 2013 - Jan 15, 2014
						</div>
					</div>
					<small class="list">
						<ul>
							<li>Recognize Rubik's Cube by OpenCV, calculate, and solve it by manipulator arms.</li>
						</ul>
					</small>
				</div>
			</div>
			<div class="gap"></div>
			<h6>Working Experiences</h6>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Running Volunteer &middot; 乐益</span><span class="t2">Frondend Developer & VI Designer</span>
						<div class="time">
							May 1, 2015 - Present
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">中国极忆联盟</span><span class="t2">Full Stack Developer</span>
						<div class="time">
							Oct 1, 2014 - Present
						</div>
					</div>
					<small class="list">
						<ul>
							<li>Design forum and online contest system</li>
						</ul>
					</small>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Dexta Robotics</span><span class="t2">Co-Funder & Full Stack Developer & Engineer</span>
						<a href="http://dextarobotics.com" class="a-more">Link</a>
						<div class="time">
							Mar 16, 2014 - Present
						</div>
					</div>
					<small class="list">
						<ul>
							<li>Design website</li>
							<li>Develop STM32 embedded system</li>
						</ul>
					</small>
				</div>
			</div>
			<div class="gap"></div>
			<h6 style="display:inline">Projects</h6><a href="http://lab.rijnx.com" class="a-more" style="margin-left:20px">>> View Lab</a>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">iColorway</span><span class="t2">Color magic</span>
						<a href="http://icolorway.rijnx.com/" class="a-more">Link</a>
						<div class="time">
							Jun 01, 2015 - Present
						</div>
						<small class="list">
						<ul>
							<li>Use angular.js for the first time.</li>
						</ul>
						</small>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">ColorConverter.js</span><span class="t2">A JavaScript library that makes converting between color spaces.</span>
						<a href="http://lab.rijnx.com/ColorConverter.js/" class="a-more">Link</a>
						<div class="time">
							Jun 01, 2015
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Nodecho</span><span class="t2">Just a blog using Node.js</span>
						<a href="https://github.com/rijn/nodecho" class="a-more">Link</a>
						<div class="time">
							May 25, 2015
						</div>
						<small class="list">
						<ul>
							<li>Just a blog.</li>
						</ul>
						</small>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Zepto.SliderLock.js</span><span class="t2">A Zepto plugin</span>
						<a href="http://lab.rijnx.com/Zepto.SliderLock.js" class="a-more">Link</a>
						<div class="time">
							May 1, 2015
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Verify Code Identification Class</span><span class="t2">PHP</span>
						<a href="https://github.com/rijn/PHP-Verify-Code-Identification-Class" class="a-more">Link</a>
						<div class="time">
							Apr 28, 2015
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">NUPT Wechat Platform</span><span class="t2">Webapp in Wechat</span>
						<a href="http://nupt.pixelnfinite.com" class="a-more">Link</a>
						<div class="time">
							Mar 15, 2015 - May 1, 2015
						</div>
					</div>
				</div>
				<a href="http://lab.rijnx.com" class="a-more" style="margin-left:20px">>> More</a>
			</div>
			<div class="gap"></div>
			<h6>Honors</h6>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Collegiate Electronic Design Contest</span><span class="t2">First prize</span>
						<div class="time">
							2015, NUPT
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">China Adolescents Science and Technology Innovation Contest</span><span class="t2">First prize</span>
						<div class="time">
							2014, China Association for Science and Technology & Chinese Ministry of Education
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Adolescents Technological Innovation Award in Provinces</span><span class="t2"></span>
						<div class="time">
							2014, Jiangsu Provincial People's Government
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Mao Yisheng Prize for Science and Technology</span><span class="t2">Adolescent Group</span>
						<div class="time">
							2014, Mao Yisheng Science and Education Foundation
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">National High School Chemistry Competition</span><span class="t2">Second prize</span>
						<div class="time">
							2013, Chinese Chemical Society
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">National Olympaid in Informatics in Provinces</span><span class="t2">Second prize</span>
						<div class="time">
							2011, China Computer Federation
						</div>
					</div>
				</div>
			</div>
			<div class="gap"></div>
			<h6>Activities</h6>
			<div class="timeline">
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">Party Committee Propaganda Department</span><span class="t2">NUPT</span>
						<div class="time">
							Technical Adviser
						</div>
					</div>
				</div>
				<div class="item">
					<div class="node">
					</div>
					<div class="title">
						<span class="t1">College Science and Technology Association</span><span class="t2">NUPT</span>
						<div class="time">
							Lecturer
						</div>
					</div>
				</div>
			</div>
			<div class="gap"></div>
			<div class="gap"></div>
		</div>
	</main>
<% include cv.footer.ejs %>