<% include header %>
  	<main id="main">
			<article>
				<h3><%= message %></h3>
				<h4><%= error.status %></h4>
				<small><%= error.stack %></small>
			</article>
  	</main>
<% include footer %>

