    <footer class="page-footer clearfix">
    	<span class="copyright"><%- copyright %></span>
    	<span class="poweredby"><%- poweredby %></span>
    </footer>
    <script type="text/javascript" src="/javascripts/retina.min.js"></script>
  </body>
</html>
