@charset "UTF-8";

@font-face {
    font-family: 'NotoSans-Regular';
    src: url('fonts/NotoSans-Regular-webfont.eot');
    src: url('fonts/NotoSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/NotoSans-Regular-webfont.woff') format('woff'),
         url('fonts/NotoSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/NotoSans-Regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    min-width: 600px;
    margin: 0;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #FF0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80% !important;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Normorize finished*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'NotoSans-Regular',"Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    font-size: 2.2rem;
    line-height: 1.7em;
    color: #3A4145;
}

::-moz-selection {
    background: #eeeeee;
}

::selection {
    background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.5em;
    margin: 0 0 0.3em 0;
}

h1 {
    font-size: 5.6rem;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 4.4rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 3.9rem;
}

h4 {
    font-size: 3.1rem;
}

h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2.2rem;
}

a {
    color: #4A4A4A;
    text-decoration: none;
    transition: color ease 0.3s;
    cursor: pointer;
}

a:hover {
    color: #111;
}

a.link {
    color: #fff;
}

a.a-more {
    background: #eee;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.7em;
    transition: all ease-out 0.2s;
    -webkit-transition: all ease-out 0.2s;
    -moz-transition: all ease-out 0.2s;
    -o-transition: all ease-out 0.2s;
}

a.a-more:hover {
    background: rgb(0, 136, 204);
    padding-left:10px;
    color: #fff !important;
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.2s;
}

.control {
    background: 0;
    border: #bfc8cd 1px solid;
    height: 38px;
    padding: 0 10px;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.2s;
    appearance: none;
    -webkit-appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
    outline: 0;
}

.control[type="submit"],
.control[type="button"] {
    height: 40px;
    font-size: 0.6em;
}

.control[type="textarea"] {
    height: auto
}

.line {
    width: 100%;
    padding: 0 0 5px 0;
    display: table;
    content: " ";
    clear: both;
}

.line > * {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
/*General finished*/

.gap{
    padding: 20px 0;
}

.page-header {
    position: relative;
    display: table;
    z-index: 1;
    background: #fff;
    width: 100%;
    overflow: hidden;
    transition: height ease 0.3s;
}

.navbar {
    position: relative;
    padding: 30px 0;
    font-size: 0.6em;
    line-height: 2em;
    border: 1px solid transparent;
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    width: auto;
    box-shadow: none;
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-nav,
.navbar-item {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}

.navbar-nav {
    max-width: 780px;
    padding: 0 auto;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    flex-flow: row wrap;
    text-align: center;
}

.navbar-nav > .navbar-item {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    border: solid 1px #009a97;
    border-right: 0;
    color: #009a97;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.navbar-item:hover {
    flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -o-flex: 2;
    background: #009a97;
    color: #fff;
}

.navbar-item.active {
    background: #009a97;
    color: #fff;
}

.navbar-item:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navbar-item:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #009a97;
}

.page-footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    min-width: 600px;
    padding: 0.5rem 15px;
    border-top: #EBF2F6 1px solid;
    font-size: 1rem;
    line-height: 1.7em;
    color: #BBC7CC;
    background: #fff;
}

.page-footer > * {
    word-wrap: nowrap;
    overflow: hidden;
}

.page-footer .copyright {
    display: block;
    width: 45%;
    float: left;
}

.page-footer .poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 600px;
    margin-right: auto;
    margin-left: auto;
    max-width: 780px;
}

.container-fluid {
    min-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.timeline {
    width: 100%;
}

.timeline *,
.backpack *,
.find * {
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.timeline > .item{
    position: relative;
    padding: 1.2rem 0 1.2rem 2rem;
    margin: 0 2rem;
    border-left: solid 1px #5c5d5f;
}

.timeline.fin > .item:last-child{
    position: relative;
    padding: 1.2rem 0 1.2rem 2rem;
    margin: 0 2rem;
    border-left: solid 1px #5c5d5f;
    max-height: 10px
}

.timeline > .item:hover .node {
    background: #009a97;
    border-radius: 0;
}


.timeline > .item > .node {
    position: absolute;
    top: 30px;
    left: -9px;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #5c5d5f;
    border: solid 5px #fff;
}

.timeline > .item > .title {
    word-wrap: nowrap;
}

.timeline > .item > .title > .t1{
    font-size: 0.8em;
    line-height: 1em;
    word-wrap: nowrap;
}


.timeline > .item:hover .title > .t1 {
    color: #009a97;
}

.timeline > .item > .title > .t2{
    font-size: 0.55em;
    line-height: 1em;
    padding: 0 0 0 1rem;
    color: #7c7d7f;
    word-wrap: nowrap;
}

.timeline > .item > .title > .time{
    font-size: 0.5em;
    padding: 0 0 1rem 0;
    line-height: 1em;
    color: #7c7d7f;
}

.timeline ul{
    margin: 0 0 0 -20px;
    padding: 5px 0;
}

.timeline ul li{
    list-style: none;
    padding: 0 20px;
    margin: 0;
    line-height: 2em;
    font-size: 0.7em;
    border-left: solid 0px #5c5d5f;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}

.timeline ul li:hover{
    padding: 0 30px;
    border-left: solid 5px #5c5d5f;
}

.backpack {
    padding: 1rem;
    text-align: center;
}

.backpack .collapse{
    padding: 1rem;
}

.backpack .collapse .title{
    font-size: 0.5em
}

.backpack .backpack-container{
    overflow: hidden;
}

.backpack .backpack-container .item{
    background: #efefef no-repeat center center;
    background-size: cover;
    float: left;
    margin: 10px;
    padding: 0;
    width: 140px;
    height: 140px;
    border-radius: 140px;
    border: solid 1px #fff;
}

.backpack .backpack-container .item:hover{
    border: solid 1px #009a97;
}

.backpack .backpack-container .item .comment{
    font-size: 0.6em;
    line-height: 140px;
}

.find{
    width: 100%;
    overflow: hidden;
}

.find .item {
    width: 18%;
    height: 100px;
    margin: 1%;
    position: relative;
    float: left;
    text-align: center;
    font-size: 0.7em
}

.find .item .logo{
    position: absolute;
    top: 0;
    line-height: 50px;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    color: #5c5d5f;
}

.find .item .comment{
    position: absolute;
    top:0;
    padding: 0;
    line-height: 100px;
    padding: 25px 0 0 0;
    width: 100%;
    height: 100%;
    word-wrap: nowrap;
}

.find .item:hover .comment{
    padding: 50px 0 0 0;
    line-height: 1.5em;
}

.find .item:hover .logo{
    color: #009a97;
}

