@charset "UTF-8";
@font-face {
    font-family: 'Source-Han-Light';
    src: url('fonts/Source-Han-Light.eot');
    src: url('fonts/Source-Han-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Source-Han-Light.woff') format('woff'), url('fonts/Source-Han-Light.ttf') format('truetype'), url('fonts/Source-Han-Light.svg#Source-Han-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

html {
    font-family: 'Source-Han-Light', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

a {
    background: transparent;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    outline: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #FF0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80% !important;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*Normorize finished*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html {
    height: 100%;
    max-height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Source-Han-Light', "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    min-height: 100%;
    font-size: 2.2rem;
    line-height: 1.7em;
    color: #3A4145;
}

::-moz-selection {
    background: #eeeeee;
}

::selection {
    background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    color: #2E2E2E;
    line-height: 1.5em;
    margin: 0 0 0.3em 0;
}

h1 {
    font-size: 5.6rem;
    letter-spacing: -2px;
    text-indent: -3px;
}

h2 {
    font-size: 4.4rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 3.9rem;
}

h4 {
    font-size: 3.1rem;
}

h5 {
    font-size: 2.8rem;
}

h6 {
    font-size: 2.2rem;
}

a {
    color: #4A4A4A;
    text-decoration: none;
    transition: color ease 0.3s;
    cursor: pointer;
}

a:hover {
    color: #111;
}

a.link {
    color: #fff;
}

.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 38px;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.2s;
}

.control {
    background: 0;
    border: #bfc8cd 1px solid;
    height: 38px;
    padding: 0 10px;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    transition: all ease 0.2s;
    appearance: none;
    -webkit-appearance: none;
    -moz- appearance: none;
    -ms- appearance: none;
    -o- appearance: none;
    outline: 0;
}

.control[type="submit"],
.control[type="button"] {
    height: 40px;
    font-size: 0.6em;
}

.control[type="textarea"] {
    height: auto
}

.line {
    width: 100%;
    padding: 0 0 5px 0;
    display: table;
    content: " ";
    clear: both;
}

.line > * {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
/*General finished*/

.page-header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    background: #222 no-repeat center center;
    background-size: cover;
    overflow: hidden;
    background-image: url(/images/background.jpg);
    color: #fff;
    transition: height ease 0.3s;
}

.page-header.active {
    height: auto;
}

.page-header > .inner {
    padding: 35px 40px;
    margin: 0
}

.source-button {
    float: right;
    border: #fff 1px solid;
    color: #fff;
}

.source-button:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.page-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 0.5rem 15px;
    border-top: #EBF2F6 1px solid;
    font-size: 1rem;
    line-height: 1.7em;
    color: #BBC7CC;
}

.page-footer .copyright {
    display: block;
    width: 45%;
    float: left;
}

.page-footer .poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

.post {
    position: relative;
    width: 80%;
    max-width: 780px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
}

.post-meta {
    display: block;
    margin: 2rem 0 0.6rem 0;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #9EABB3;
}

.post-date {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
}

.post-views {
    display: inline-block;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
    text-transform: uppercase;
    font-size: 1.3rem;
    white-space: nowrap;
}

.post-markdown {
    margin: 2rem 0 0 0;
    font-size: 0.8em;
    line-height: 1.8em;
}

.post-markdown h1 {
    font-size: 2em;
    letter-spacing: -2px;
    text-indent: -3px;
}

.post-markdown h2 {
    font-size: 1.8em;
    letter-spacing: -1px;
}

.post-markdown h3 {
    font-size: 1.6em;
}

.post-markdown h4 {
    font-size: 1.4em;
}

.post-markdown h5 {
    font-size: 1.2em;
}

.post-markdown h6 {
    font-size: 1.1em;
}

.post-markdown p {
    font-size: 1em;
}

.post-markdown blockquote {
    margin-left: -37px;
    margin-right: 0;
    padding-left: 30px;
    border-left: solid 5px rgb(74, 74, 74)
}

.post-markdown hr {
    border: 0;
    border-top: solid 1px #EBF2F6;
}

.post-markdown code {
    background: rgba(0, 0, 0, 0.07);
    padding: 2px 4px;
    border-radius: 3px
}

.post-markdown pre > code {
    background: 0;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    line-height: 1em;
    font-family: "Lucida Grande", sans-serif;
}

.post-markdown a {
    color: rgb(0, 136, 204)
}

.post-markdown a:hover {
    color: rgb(0, 100, 170)
}

.pagination {
    position: relative;
    width: 80%;
    max-width: 780px;
    min-height: 50px;
    margin: 4rem auto;
    font-size: 1.3rem;
    color: #9EABB3;
    text-align: center;
}

.page-number {
    display: inline-block;
    padding: 2px 0;
    min-width: 100px;
}

.pagination a {
    color: #9EABB3;
    transition: all 0.2s ease;
}

.newer-posts {
    left: 0;
}

.older-posts {
    right: 0;
}

.older-posts,
.newer-posts,
.button-normal {
    display: inline-block;
    padding: 0 15px;
    border: #bfc8cd 1px solid;
    transition: border ease 0.3s;
}

.older-posts,
.newer-posts {
    position: absolute;
}

.button-normal:hover,
.older-posts:hover,
.newer-posts:hover {
    border: #98a0a4 1px solid;
}

.admin {
    padding: 0 50px;
}

.admin-nav {
    padding: 0 0 30px 0;
}

.admin-inner-nav {
    padding: 0 0 30px 0;
}

.posts-table {
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
}

.posts-table-item {
    background: rgba(0, 0, 0, 0);
    transition: background ease 0.3s;
}

.posts-table-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

.posts-content {
    line-height: 1.6em;
    font-size: 0.8em;
}
