// Color
@primary-color          : #ffa4be;
@link-color             : #ffa4be;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@selected-color         : fade(@primary-color, 90%);

// Base
@body-background        : #fff;
@font-family            : "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family            : Consolas,Menlo,Courier,monospace;
@title-color            : #1c2438;
@text-color             : #495060;
@font-size-base         : 14px;
@font-size-small        : 12px;
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));
@border-radius-base     : 6px;
@border-radius-small    : 4px;
@cursor-disabled        : not-allowed;

@border-color-base      : #dddee1;  // outside

@background-color-base        : #f7f7f7;  // base

// Button
@btn-font-weight        : normal;
@btn-padding-base       : 6px 15px;
@btn-font-size          : 12px;
@btn-border-radius      : 4px;
@btn-group-border       : shade(@primary-color, 5%);

@btn-disable-color      : #bbbec4;
@btn-disable-bg         : @background-color-base;
@btn-disable-border     : @border-color-base;

@btn-default-color      : @text-color;
@btn-default-bg         : @background-color-base;
@btn-default-border     : @border-color-base;

@btn-primary-color      : #fff;
@btn-primary-bg         : @primary-color;

// Animation
@animation-time         : .3s;
@transition-time        : .2s;
@ease-in-out            : ease-in-out;
